[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-plugins/dotbot-git"]
	path = dotbot-plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git

[submodule "dotbot-plugins/dotbot-sudo"]
	path = dotbot-plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "dotbot-plugins/dotbot-apt"]
	path = dotbot-plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/colors/start/vim-airline-themes"]
	path = vim/pack/colors/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/plugins/start/nerdtree-git-plugin"]
	path = vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/pack/colors/start/one"]
	path = vim/pack/colors/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "vim/pack/plugins/start/vim-alloy"]
	path = vim/pack/plugins/start/vim-alloy
	url = https://github.com/grafana/vim-alloy.git
[submodule "vim/pack/plugins/start/devicons"]
	path = vim/pack/plugins/start/devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/plugins/start/vim-indent-guides"]
	path = vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/dottmux"]
	path = tmux/dottmux
	url = https://github.com/gpakosz/.tmux
[submodule "zsh/plugins/romkatv---powerlevel10k"]
	path = zsh/plugins/romkatv---powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/plugins/zdharma-continuum---fast-syntax-highlighting"]
	path = zsh/plugins/zdharma-continuum---fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/zsh-users---zsh-autosuggestions"]
	path = zsh/plugins/zsh-users---zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zinit"]
	path = zsh/zinit
	url = https://github.com/zdharma-continuum/zinit.git
