[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-plugins/dotbot-git"]
	path = dotbot-plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "zsh/zinit/bin"]
	path = zsh/zinit/bin
	url = https://github.com/zdharma/zinit.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "zsh/zinit"]
	path = zsh/zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule "dotbot-plugins/dotbot-sudo"]
	path = dotbot-plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "dotbot-plugins/dotbot-apt"]
	path = dotbot-plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
